<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/Common/common.css" />
		<!-- 작업할 css 연결 -->
		<link rel="stylesheet" href="./AdminOrderDetail.css" />
		<!-- 우편번호 서비스 -->
		<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
		<script type="module" src="./AdminOrderDetail.js"></script>
		<title>배송 조회 상세</title>
	</head>
	<body>
		<div id="global-wrap">
			<header></header>
			<main>
				<div class="main-container">
					<div id="member-info-wrap">
						<!-- 마이페이지 메뉴바 -->
						<section class="myparty-menubar">
							<h2>마이파티</h2>
							<!-- 회원정보 -->
							<article class="user-info">
								<div>
									<div class="profile" role="img">🥳</div>
									<p class="user-name"><span id="user-name">관리자 </span>님</p>
								</div>
								<span class="user-role">관리자</span>
							</article>
							<!-- 마이페이지 메뉴 -->
							<nav>
								<ul>
									<li class="active">
										<a href="/admin">배송 조회</a>
									</li>
								</ul>
							</nav>
						</section>
						<!-- 회원정보 수정 -->

						<section class="order-history">
							<h3>배송 상세 조회</h3>
							<!-- 주문번호 및 상태 -->
							<div class="order-number-status">
								<p>주문번호 <span id="order-number"></span></p>
								<span class="status" id="order-status"></span>
								<span
									><select id="shippingStatus">
										<option value="상품 준비 중">상품 준비 중</option>
										<option value="배송 중">배송 중</option>
										<option value="배송 완료">배송 완료</option>
									</select></span
								>
							</div>
							<!-- 주문상품 내역 -->
							<article class="order-products">
								<div class="products-info">
									<span class="date"></span>
								</div>
								<div class="products-list">
									<ul></ul>
									<!-- <a href="#" class="add-cart">장바구니 담기</a> -->
								</div>
							</article>
							<!-- 주문 정보 -->
							<article class="order-info">
								<div class="title-container">
									<h4>주문 정보</h4>
									<!-- 상품준비중일 때에만 해당요소 노출 -->
									<!-- <button type="button" class="order-modify">
										주문 정보 수정
									</button> -->
								</div>
								<section>
									<div>
										<span>수령인</span>
										<span id="recipient"></span>
									</div>
									<div>
										<span>연락처</span>
										<span id="phone"></span>
									</div>
									<div>
										<span>배송지</span>
										<span id="address"></span>
									</div>
									<div>
										<span>배송시 요청사항</span>
										<span id="shippingRequest"></span>
									</div>
								</section>
							</article>
							<!-- 결제 정보 -->
							<article class="purchase-info">
								<h4>결제 정보</h4>
								<section>
									<div>
										<span>총 상품가격</span>
										<span id="totalPrice"></span>
									</div>
									<div>
										<span>배송비</span>
										<span id="shippingPrice"></span>
									</div>
									<div>
										<strong>
											<span>총 결제금액</span>
										</strong>
										<strong><span id="orderPrice"></span></strong>
									</div>
								</section>
							</article>
							<div class="btns">
								<a href="/admin" id="back">< 주문목록</a>
								<!-- 상품준비중일 때에만 해당요소 노출 -->
								<!-- <button type="button">주문취소</button> -->
							</div>
						</section>
					</div>
				</div>
			</main>
			<footer></footer>
		</div>
	</body>
</html>
