/* 여기서 부터 각자 레이아웃 스타일 작업 */
.main-container {
	padding: 0;
}
#order-history-wrap {
	width: 80%;
	height: 100%;
	margin: 0 auto;
	display: flex;
}
h2 {
	font-size: 24px;
	font-weight: 900;
}
h3 {
	font-size: 24px;
}
#order-history-wrap > section {
	padding: 30px;
}
.myparty-menubar {
	/* border-right: 1px solid #000; */
	width: 200px;
}
.myparty-menubar h2,
.order-history h3 {
	margin-bottom: 30px;
}
.user-info {
	border: 1px solid #000;
	padding: 16px;
	font-size: 26px;
	background-color: #fff;
	margin-bottom: 20px;
}
.user-info > div {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.user-info .profile {
	font-size: 26px;
	border: 1px solid #000;
	width: 50px;
	height: 50px;
	line-height: 55px;
	text-align: center;
	border-radius: 999px;
}
.user-info .user-role {
	text-align: center;
	display: block;
	border: 1px solid #000;
	font-size: 20px;
	padding: 7px 0;
	margin-top: 10px;
}
.myparty-menubar nav li.active a {
	background-color: #000;
	color: #fff;
}
.myparty-menubar nav a {
	border: 1px solid #000;
	background-color: #fff;
	font-size: 20px;
	margin-top: 10px;
	display: block;
	padding: 20px;
	text-decoration: none;
	color: #000;
}
.order-history {
	flex: 1;
}
.order-history .history-list > li {
	border: 1px solid #000;
	margin-bottom: 20px;
	background-color: #fff;
}
.order-history .history-list .info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #000;
	padding: 10px 20px;
	font-size: 18px;
}
.order-history .history-list .info .status {
	background-color: #000;
	color: #fff;
	padding: 3px 16px;
	border-radius: 999px;
	margin-left: 20px;
}
.order-history .history-list .info .date {
	font-weight: 700;
}
.order-history .history-list .info .detail-btn {
	text-decoration: none;
	color: inherit;
	margin-right: 10px;
	border-bottom: 1px solid transparent;
}
.order-history .history-list .info .detail-btn:hover {
	border-color: #000;
}
.order-history .history-list .products-list {
	padding: 20px;
}
.order-history .history-list .products-list li {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 20px;
	margin-bottom: 10px;
}
.order-history .history-list .products-list li:last-child {
	margin-bottom: 0;
}
.order-history .history-list .products-list li .thumbnail {
	display: flex;
	align-items: center;
}
.order-history .history-list .products-list li img {
	width: 100px;
	height: 80px;
	background-color: #fff;
	margin-right: 10px;
}
.order-history .history-list .products-list li .title {
	font-weight: 700;
}
