<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- 작업할 css 연결 -->
		<link rel="stylesheet" href="/Common/common.css" />
		<link rel="stylesheet" href="./OrderHistory.css" />
		<script type="module" src="./OrderHistory.js" defer></script>
		<!-- 페이지에 맞는 타이틀 입력 -->
		<title>마이파티 - 주문내역</title>
	</head>
	<body>
		<div id="global-wrap">
			<header></header>
			<main>
				<div class="main-container">
					<div id="order-history-wrap">
						<!-- 마이페이지 메뉴바 -->
						<section class="myparty-menubar">
							<h2>마이파티</h2>
							<!-- 회원정보 -->
							<article class="user-info">
								<div>
									<div class="profile" role="img">🥳</div>
									<p class="user-name"><span id="user-name"></span>님</p>
								</div>
								<span class="user-role">일반회원</span>
							</article>
							<!-- 마이페이지 메뉴 -->
							<nav>
								<ul>
									<li>
										<a href="/myPage">내 정보수정</a>
									</li>
									<li class="active">
										<a href="/myPage/orders">주문 내역</a>
									</li>
								</ul>
							</nav>
						</section>
						<!-- 주문내역 -->
						<section class="order-history">
							<h3>주문내역</h3>
							<ul class="history-list"></ul>
						</section>
					</div>
				</div>
			</main>
			<footer></footer>
		</div>
	</body>
</html>
