/* 회원가입 */
#signup-wrap {
	background-color: #fff;
	box-shadow: 0 0 0 0;
}
.hint {
	height: 30px;
	padding: 5px;
	font-size: 13px;
	color: #808080;
}
.signup h1 {
	color: #000;
	font-size: 30px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 24px;
}

.signup-card {
	width: 500px;
	margin: 0 auto;
	border: 4mm ridge rgba(0, 0, 0, 0.6);
	border-radius: 0 20px 0 10px;
	color: #555;
}

.signup-card form {
	padding: 30px 22px;
}

.signup-card form input {
	width: 100%;
	margin-bottom: 12px;
	padding: 15px;
	border: 1px solid #ddd;
	border-radius: 4px;
	outline: none;
	box-sizing: border-box;
	font-size: 14px;
}

.signup-card form button {
	width: 100%;
	margin-bottom: 12px;
	padding: 15px;
	background-color: #000;
	border: none;
	border-radius: 4px;
	color: #fff;
	font-size: 20px;
	cursor: pointer;
}

.signup-card form .signup-email {
	display: flex;
}

.signup-card form .signup-email input {
	flex: 1 1 0%;
	margin-right: 10px;
}

.signup-card form .signup-email button {
	width: 100px;
	font-size: 16px;
	border: 1px solid #000;
	background-color: #fff;
	color: #000;
}
