<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/Common/common.css" />
		<!-- 작업할 css 연결 -->
		<link rel="stylesheet" href="./Admin.css" />
		<script type="module" src="./Admin.js"></script>
		<title>배송 조회</title>
	</head>
	<body>
		<div id="global-wrap">
			<header></header>
			<main>
				<div class="main-container">
					<div id="member-info-wrap">
						<!-- 마이페이지 메뉴바 -->
						<section class="myparty-menubar">
							<h2>마이파티</h2>
							<!-- 회원정보 -->
							<article class="user-info">
								<div>
									<div class="profile" role="img">🥳</div>
									<p class="user-name"><span id="user-name">관리자 </span>님</p>
								</div>
								<span class="user-role">관리자</span>
							</article>
							<!-- 마이페이지 메뉴 -->
							<nav>
								<ul>
									<li class="active">
										<a href="/admin">회원 배송 조회</a>
									</li>
								</ul>
							</nav>
						</section>
						<!-- 회원정보 수정 -->
						<section class="order-history">
							<h3>배송 목록</h3>
							<ul class="history-list"></ul>
						</section>
					</div>
				</div>
			</main>
			<footer></footer>
		</div>
	</body>
</html>
