/* 여기서 부터 각자 레이아웃 스타일 작업 */
/* 주문하기 스타일 */
button {
	border: none;
	background: none;
	font-size: inherit;
	padding: 0;
	margin: 0;
	cursor: pointer;
}
h3 {
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 10px;
}
#order-wrap {
	width: 80%;
	margin: 0 auto;
}
.cart-step {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	margin-bottom: 50px;
}
.cart-step > li {
	display: flex;
	align-items: center;
	opacity: 0.3;
	font-size: 30px;
}
.cart-step > li.active {
	opacity: 1;
}
.cart-step > li > span {
	background-color: black;
	color: #fff;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 999px;
	margin-right: 10px;
	font-size: 20px;
}
.cart-items {
	border-top: 1px solid #000;
}
.cart-items img {
	width: 100px;
	height: 80px;
	background-color: #fff;
}
.cart-items article {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.cart-items article > * {
	flex: 1;
}
.cart-items article > *:last-child {
	text-align: right;
}
.cart-items .thumbnail {
	flex: 3;
}
.cart-items li {
	gap: 20px;
	margin-top: 20px;
	border-bottom: 1px solid #ddd;
	padding-bottom: 20px;
}
.cart-items .thumbnail,
.cart-items .thumbnail label {
	display: flex;
	align-items: center;
	gap: 10px;
}
#cart-form {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
	gap: 20px;
}
#cart-form > article {
	flex: 1;
}
.order-info section {
	display: flex;
	align-items: baseline;
	margin-bottom: 10px;
}
.order-info .address-input button,
.order-info label {
	width: 150px;
	font-size: 18px;
}
.order-info label.require::before {
	content: '*';
	color: red;
}
.order-info .address-input > div,
.order-info input {
	width: 100%;
	font-size: 18px;
	box-sizing: border-box;
}
.order-info input {
	outline: none;
	border: 1px solid #000;
	padding: 6px;
}
.order-info .address-input .api-btn {
	margin: 0;
	margin-bottom: -2px;
}
.order-info .address-input .api-btn button {
	border-top: 1px solid #000;
	border-right: 1px solid #000;
	padding: 6px;
	background-color: #fff;
}
.order-info .address-input input:not(:last-child) {
	border-bottom: 0;
}
.cart-price {
	background-color: #fff;
	padding: 40px;
	padding-bottom: 20px;
	font-size: 20px;
	border: 1px solid #000;
}
.cart-price > div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}
.cart-price .total {
	border-top: 1px solid #000;
	padding-top: 20px;
	font-weight: 900;
	font-size: 26px;
}
.cart-price .total strong {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.order-btn {
	font-size: 26px;
	background: #000;
	width: 100%;
	color: #fff;
	font-weight: 900;
	padding: 20px 0;
}
#address {
	cursor: pointer;
}
.cart-title-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}
.cart-title-wrap h3 {
	margin-bottom: 0;
}
.btn {
	background-color: #000;
	color: #fff;
	padding: 7px 10px;
}
