<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="/Common/common.css" />
	<link rel="stylesheet" href="./GuestOrder.css" />
	<script type="module" src="./GuestOrder.js" defer></script>
	<script type="module" src="../Login/Login.js" defer></script>
	<!-- 페이지에 맞는 타이틀 입력 -->
	<title>주문내역</title>
</head>

<body>
	<div id="global-wrap">
		<header></header>
		<main>
			<div class="main-container" id="guest-wrap">

				<!-- <section class="signin" id="loginForm"></section> -->

				<section class="guest">
					<h1>비회원 주문내역 조회</h1>
					<div class="guest-card">
						<form>
							<input id="orderId" type="text" placeholder="주문번호를 입력하세요." />
							<input id="orderPassword" type="password" placeholder="주문비밀번호를 입력하세요." />
							<div>
								<button id="orderButton" type="button">조회하기</button>
							</div>
						</form>
					</div>
				</section>
			</div>
		</main>
		<footer></footer>
	</div>
</body>

</html>