<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="/Common/common.css" />
	<!-- 작업할 js 연결 -->
	<script type="module" src="./Login.js" defer></script>
	<!-- 페이지에 맞는 타이틀 입력 -->
	<title>장바구니</title>
</head>

<body>
	<div id="global-wrap">
		<header></header>
		<main>
			<div class="main-container" id="signin-wrap">
				<!-- 클래스명 main-container까지 공통, id값은 페이지에 맞게 이름설정해서 사용 -->
				<!-- 해당 위치에 페이지 마크업 -->
				<section class="signin" id="loginForm"></section>
			</div>
		</main>
		<footer></footer>
	</div>
</body>

</html>